<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kx.todaynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.news.activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.emoji.EmojiActivity"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ImageBrowserActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.news.TestActivity" />
        <activity
            android:name=".module.video.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
        <activity
            android:name=".module.news.activity.CategoryExpandActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".module.news.activity.ImageListDetailActivity"></activity>
    </application>

</manifest>